<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>

  <% if(isLoggedIn){ %>
      <%= funnyText %>
  
  <% } else { %>
    <%- include('include/registerForm') %>
    <%- include('include/loginForm') %>
  <% } %>
  <script src="js/loginRegister.js"></script>
</body>
</html>