<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" id="username" name="username"
            required
            pattern="[a-zA-Z0-9]{5,12}"
            title="Username should be 5-12 characters long and only contain letters and numbers."
            placeholder="Create a username">
 
        <input type="password" id="password" name="password"
            required
            minlength="8"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Password must be at least 8 characters long, including a number, a lowercase letter, and an uppercase letter."
            placeholder="Create a password">
            <input type="submit" value="Create User">
    </form>
</body>
</html>