<link rel="stylesheet" href="css/search.css">

  <form action="/" method="post">
    <input type="search" name="search" id="search">
  </form>
  <div id="results"></div>
  <script src="js/searchUsers.js"></script>
  
